# --- Visuals & Theme ---
theme = mytheme
font-size = 13
cursor-style = block
# adjust-cell-height = 35%

# Transparency & Blur
background-opacity = 0.93
background-blur = 16
background = #000000

# Window Behavior
window-decoration = true
title = " "
window-width = 126
window-height = 30
window-padding-balance = true
window-save-state = always
window-colorspace = "srgb"

# --- System Integration ---
shell-integration-features = no-cursor,sudo,no-title
mouse-scroll-multiplier = 2
copy-on-select = clipboard

# --- Keybindings (Using Alt/Meta as the leader key) ---
keybind = alt+s>r=reload_config
keybind = alt+s>x=close_surface
keybind = alt+s>n=new_window

# Tabs
keybind = alt+s>c=new_tab
keybind = alt+s>shift+l=next_tab
keybind = alt+s>shift+h=previous_tab
keybind = alt+s>comma=move_tab:-1
keybind = alt+s>period=move_tab:1

# Quick Tab Switch
keybind = alt+s>1=goto_tab:1
keybind = alt+s>2=goto_tab:2
keybind = alt+s>3=goto_tab:3
keybind = alt+s>4=goto_tab:4
keybind = alt+s>5=goto_tab:5
keybind = alt+s>6=goto_tab:6
keybind = alt+s>7=goto_tab:7
keybind = alt+s>8=goto_tab:8
keybind = alt+s>9=goto_tab:9

# Splits
keybind = alt+s>\=new_split:right
keybind = alt+s>-=new_split:down
keybind = alt+s>j=goto_split:bottom
keybind = alt+s>k=goto_split:top
keybind = alt+s>h=goto_split:left
keybind = alt+s>l=goto_split:right
keybind = alt+s>z=toggle_split_zoom
keybind = alt+s>e=equalize_splits