# ==========================================
#        GHOSTTY CONFIGURATION FILE
# ==========================================

# --- Theme & Appearance -------------------

# theme = Catppuccin Mocha
theme = dankcolors

background = #000000
background-opacity = 0.93
background-blur = 16

# --- Fonts & Cursor -----------------------
font-size = 13
cursor-style = block
# font-family = "JetBrains Mono"
# font-feature = calt
# font-feature = liga
# adjust-cell-height = 35%


# --- Window Settings ----------------------
title = " "
window-decoration = true
window-width = 126
window-height = 30
window-padding-x = 0
window-padding-y = 0
window-padding-balance = true
window-save-state = always
window-colorspace = "srgb"
confirm-close-surface = false
scrollback-limit = 100000000
# scrollbar = system 

# --- System & Platform Integration --------
gtk-titlebar = true
gtk-single-instance = desktop
shell-integration = detect 
shell-integration-features = no-cursor,sudo,no-title
mouse-scroll-multiplier = 2
app-notifications = true

# --- Clipboard & Security -----------------
copy-on-select = clipboard
clipboard-read = ask
clipboard-write = allow
clipboard-paste-protection = true
title-report = false             

# ==========================================
#               KEYBINDINGS
# ==========================================

# --- General & Window (Leader: Alt/s) -----
keybind = alt+s>r=reload_config
keybind = alt+s>x=close_surface
keybind = alt+s>n=new_window

# --- Font Sizing --------------------------
keybind = ctrl+plus=increase_font_size:1
keybind = ctrl+minus=decrease_font_size:1
keybind = ctrl+0=reset_font_size

# --- Tabs ---------------------------------
keybind = alt+s>c=new_tab
keybind = alt+s>shift+l=next_tab
keybind = alt+s>shift+h=previous_tab
keybind = alt+s>comma=move_tab:-1
keybind = alt+s>period=move_tab:1

# --- Quick Tab Switch ---------------------
keybind = alt+s>1=goto_tab:1
keybind = alt+s>2=goto_tab:2
keybind = alt+s>3=goto_tab:3
keybind = alt+s>4=goto_tab:4
keybind = alt+s>5=goto_tab:5
keybind = alt+s>6=goto_tab:6
keybind = alt+s>7=goto_tab:7
keybind = alt+s>8=goto_tab:8
keybind = alt+s>9=goto_tab:9

# --- Splits -------------------------------
keybind = alt+s>\=new_split:right
keybind = alt+s>-=new_split:down
keybind = alt+s>j=goto_split:bottom
keybind = alt+s>k=goto_split:top
keybind = alt+s>h=goto_split:left
keybind = alt+s>l=goto_split:right
keybind = alt+s>z=toggle_split_zoom
keybind = alt+s>e=equalize_splits

# Additional
mouse-hide-while-typing = true
unfocused-split-fill = #44464f
# app-notifications = no-clipboard-copy,no-config-reload
keybind = shift+enter=text:\n
